<div *ngIf="!restService.loggedIn">
  <login-form></login-form>
</div>

<div *ngIf="restService.loggedIn">

  <md-toolbar color="primary" class="app-top-toolbar">
    <h1>Partout</h1>
    <span class="app-toolbar-filler"></span>
    Welcome {{ restService.getUser().name }}&nbsp;<img class="user_avatar" src="{{ restService.getUser().avatarUrl }}">
    <span class="app-toolbar-sep"></span>
    <button md-raised-button
            color="warn"
            (click)="logout()">
      Logout
    </button>
    <span class="app-toolbar-sep"></span>
  </md-toolbar>


  <md-tab-group class="app-main-tab-group">
    <md-tab>
      <template md-tab-label>Dashboard</template>
      <template md-tab-content>
        <h1>dashboard content goes here</h1>
        <p>...</p>
      </template>
    </md-tab>

    <md-tab>
      <template md-tab-label>CSRs</template>
      <template md-tab-content>
        <h1>CSR Signing Requests:</h1>
        <p>...</p>
      </template>
    </md-tab>

    <md-tab>
      <template md-tab-label>Agents</template>
      <template md-tab-content>
        <h1>Agents:</h1>

        <!-- TODO: Agent Table -->

  <!--
      <p2-table [data]="data">
      </p2-table>
  -->
      </template>

    </md-tab>
  </md-tab-group>


</div>
