<div *ngIf="!restService.loggedIn">
  <login-form></login-form>
</div>

<div *ngIf="restService.loggedIn">

  <md-toolbar color="primary" class="app-top-toolbar">
    <h1>Partout</h1>
    <span class="app-toolbar-filler"></span>
    Welcome {{ restService.getUser().name }}&nbsp;<img class="user_avatar" src="{{ restService.getUser().avatarUrl }}">
    <span class="app-toolbar-sep"></span>
    <button md-raised-button
            color="accent"
            (click)="logout()">
      Logout
    </button>
    <span class="app-toolbar-sep"></span>
  </md-toolbar>


  <md-tab-group class="app-main-tab-group">
    <md-tab class="p2-tab-label">
      <template md-tab-label>Dashboard</template>
        <h1>dashboard content goes here</h1>
        <p>...</p>
    </md-tab>

    <md-tab>
      <template md-tab-label>CSRs</template>
      <h1>New Agent CSR Signing Requests:</h1>
      <button md-raised-button
              color="primary"
              (click)="refreshAgents()">Refresh</button>

      <!-- Csr Table -->
      <p2-table [config]="csrs_config"
                [rows]="csrs">
      </p2-table>
    </md-tab>

    <md-tab>
      <template md-tab-label>Agents</template>
      <h1>Agents:</h1>
      <button md-raised-button
              color="primary"
              (click)="refreshAgents()">Refresh</button>

      <!-- Agent Table -->
      <p2-table [config]="agents_config"
                [rows]="agents">
      </p2-table>
    </md-tab>

  </md-tab-group>

</div>
