<div *ngIf="ready">
  <div *ngIf="!(socketService.socket ? socketService.socket.authenticated : false)">
    <login-form></login-form>
  </div>

  <div *ngIf="(socketService.socket ? socketService.socket.authenticated : false)">

    <md-toolbar color="primary" class="app-top-toolbar">
      <h1>Partout</h1>
      <span class="app-toolbar-filler"></span>
      Welcome {{ socketService.user.name }}&nbsp;<img class="user_avatar" src="{{ socketService.user.avatarUrl }}">
      <span class="app-toolbar-sep"></span>
      <button md-raised-button
              color="accent"
              (click)="logout()">
        Logout
      </button>
      <span class="app-toolbar-sep"></span>
    </md-toolbar>

    <!--
        MAIN TABBED VIEWS
    -->

    <md-tab-group class="app-main-tab-group">

      <!-- Dashboard Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:dashboard')">
        <md-tab>
          <ng-template md-tab-label>Dashboard</ng-template>
          <p2-dashboard>
          </p2-dashboard>
        </md-tab>
      </div>

      <!-- CSRs Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:agent_csrs')">
        <md-tab>
          <ng-template md-tab-label>Agent CSRs</ng-template>
          <p2-table [config]="csrsTabClass.getConfig()"
                    [rxservice]="csrsService">
          </p2-table>
        </md-tab>
      </div>

      <!-- Agents Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:agents')">
        <md-tab>
          <ng-template md-tab-label>Agents</ng-template>
          <p2-table [config]="agentsTabClass.getConfig()"
                    [rxservice]="agentsService">
          </p2-table>
        </md-tab>
      </div>

      <!-- Environments Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:environments')">
        <md-tab>
          <ng-template md-tab-label>Environments</ng-template>
          <p2-table [config]="environmentsTabClass.getConfig()"
                    [rxservice]="environmentsService">
          </p2-table>
          <button md-raised-button
                  color="primary"
                  (click)="environmentsTabClass.addEnv()">Add</button>
        </md-tab>
      </div>

      <!-- Users Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:users')">
        <md-tab>
          <ng-template md-tab-label>Users</ng-template>
          <p2-table [config]="usersTabClass.getConfig()"
                    [rxservice]="usersService">
          </p2-table>
          <button md-raised-button
                  color="primary"
                  (click)="usersTabClass.addUser()">Add</button>
        </md-tab>
      </div>

      <!-- Roles Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:roles')">
        <md-tab>
          <ng-template md-tab-label>Roles</ng-template>
          <p2-table [config]="rolesTabClass.getConfig()"
                    [rxservice]="rolesService">
          </p2-table>
          <button md-raised-button
                  color="primary"
                  (click)="rolesTabClass.addRole()">Add</button>
        </md-tab>
      </div>

      <!-- Permissions Tab -->

      <div *ngIf="hasPermissionGuard.canActivate('app:mainmenu:permissions')">
        <md-tab>
          <ng-template md-tab-label>Permissions</ng-template>
          <p2-table [config]="permissionsTabClass.getConfig()"
                    [rxservice]="permissionsService">
          </p2-table>
<!--
          <button md-raised-button
                  color="primary"
                  (click)="addPermission()">Add</button>
-->
        </md-tab>
      </div>

    </md-tab-group>

  </div>

</div>
