@import '/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: #dddddd;
/*  font-family: sans-serif;*/
}

.outerBody {
  background-color: whitesmoke;
  -moz-border-radius: 15px;
  border-radius: 15px;
/*  color: azure;*/
  margin: 20px;
  padding: 10px;
/*  text-align: center;*/
/*  width: 900px;*/
}

.banner {
  color: burlywood;
  text-align: center;
}

.mainFooter {
  bottom: 0;
  color: #437474;
  font-size: 8pt;
  padding: 2px;
  position: absolute;
  text-align: left;
}

/*
a {
  color: #9cd1ff;
}
a:hover {
  color: cyan;
}
*/

.navbar {

}

.navtop {

}

.navtop_item {
  vertical-align: middle;
}

.navtop_right {
  position: absolute;
  right: 40px;
}

.user_avatar {
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
}

h1 {
  font-variant: small-caps;
}

.app-container {
  bottom: 20px;
}
