
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
md-input-container {
  display: block;
  padding-top: 10px;
}
input[type=text], input[type=password] {
    border: 0;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    padding: 12px 20px 12px 0;
    width: 100%;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin: 40px 0 8px 0;
    padding: 14px 20px;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    background-color: #f44336;
    padding: 10px 18px;
    width: auto;
}

/* Center the avatar image inside this container */
.imgcontainer {
    margin: 24px 0 12px 0;
    text-align: center;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.errormsg {
  background-color: #ea0000;
  color: #ffbc6b;
  padding: 3px;
  text-align: center;
}

.mat-form-field {
  width: inherit; /* fix width:200px from material */
}
